In [51]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [54]:
# qry = """
# SELECT * FROM corrected_customers ORDER BY CustomerID limit 490
# """
# CREATE TABLE timeline AS
# SELECT 
#     customers.CustomerID,
#     months.MonthName,
#     COALESCE(COUNT(r.RepaymentID), 0) AS NumberOfRepayments,
#     COALESCE(SUM(r.Amount), 0) AS AmountTotal
# FROM 
#     customers
# CROSS JOIN 
#     months
# LEFT JOIN 
#     (SELECT 
#         RepaymentID,
#         CustomerID,
#         Amount,
#         CASE 
#             WHEN TimeZone = 'PST' THEN RepaymentDate + INTERVAL '8 hours'
#             WHEN TimeZone = 'EST' THEN RepaymentDate + INTERVAL '5 hours'
#             WHEN TimeZone = 'CST' THEN RepaymentDate + INTERVAL '6 hours'
#             WHEN TimeZone = 'MST' THEN RepaymentDate + INTERVAL '7 hours'
#             ELSE RepaymentDate
#         END AS LondonTime
#      FROM repayments) r
# ON customers.CustomerID = r.CustomerID 
# AND strftime('%H', r.LondonTime) BETWEEN '06' AND '18'
# AND strftime('%m', r.LondonTime) = months.MonthID
# GROUP BY 
#     customers.CustomerID, months.MonthName
# ORDER BY 
#     customers.CustomerID, months.MonthName;

# 14 duplicates
# 1014 data points
qry = sql.question_4()

with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

  CustomerClass  Count
0             B    243
1             C    271
2            A+      6
3             A    480

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [50]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)